  .mini-stats {
        box-shadow: none !important;
        padding: 0px !important;
    }
    
    .d-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    
    .justify-content-start {
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
    
    .justify-content-end {
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }
    
    .justify-content-center {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    
    .justify-content-between {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
    
    .justify-content-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }
    
    .align-items-start {
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important;
    }
    
    .align-items-end {
        -webkit-box-align: end !important;
        -ms-flex-align: end !important;
        align-items: flex-end !important;
    }
    
    .align-items-center {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
    
    .ml-auto {
        margin-left: auto;
    }
    
    .m-bt-0 {
        margin-bottom: 0 !important;
    }
    
    .location-earning-stats {
        font-size: 18px;
    }
    
    .m-0 {
        margin: 0 !important;
    }
    
    .p-0 {
        padding: 0 !important;
    }
    
    .table {
        font-size: 14px;
    }
    
    .second-city {
        margin-right: 10px;
    }
    .btn-ftf-rd-lg-p-dp {
    color: #fff;
    padding: 10px 50px;
    background: #8a8a8a;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.btn-ftf-rd-lg-p-dp:hover {
    background: #222;
    color: #fff
}